<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='134444606-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/favicon.ico" rel="icon">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <title>Pholo</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/hovereffect.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"
    type="text/css">
    <link href=
    'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
    <link href=
    'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>
</head>

<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button aria-expanded="false" class=
                    "navbar-toggle collapsed" data-target=
                    "#bs-example-navbar-collapse-1" data-toggle="collapse"
                    type="button"><span class="sr-only">Toggle
                    navigation</span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> <span class=
                    "icon-bar"></span></button> <a class="navbar-brand" href=
                    "/index">Pholo</a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="navbar navbar-default navbar-fixed-top" id="mainNav">
                <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-target=
                        "#bs-example-navbar-collapse-1" data-toggle="collapse"
                        type="button"><span class="sr-only">Toggle
                        navigation</span> Menu <i class=
                        "fa fa-bars"></i></button> <a class=
                        "navbar-brand page-scroll" href="/index"><img src=
                        "img/P.png"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id=
                    "bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!--
                            <li>
                                <form class="navbar-form" id="search" name=
                                "search" role="search">
                                    <div class="form-group">
                                        <input class="form-control" id="search"
                                        placeholder="Where to?" type="text"> 
                                        <button type="submit" class="btn btn-default" id="searchButton">Search</button>
                                         <a class="btn btn-default" href=
                                        "/searchResultTheme" id=
                                        "searchButton" role="button">Trending Information</a>
                                    </div>
                                </form>
                            </li>
                            -->
                            <li>
                                <a href="/index"><b>Home</b></a>
                            </li>
                            <li>
                                <a href="/map"><b>Pholo on Maps</b></a>
                            </li>
                            <li>
                                <a href="/addlocation"><b>Add Location</b></a>
                            </li>
                            <li>
                                <a href="/help"><b>Help</b></a>
                            </li>
                            <li>
                                <a href="/about"><b>About</b></a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </nav>
    </div><!-- /.container-fluid -->

    <!-- END HEADER -->

    
            
        <div>
            <!-- Homepage title and tagline -->
            <center><p style="font-size:40px"><b>Pholo</b></p>
            <i><p style="font-size:20px">"Explore tomorrow's trends today"</i></p>
        </center>
        <div>

        <div>
            <!-- Trending Now Text -->
            <span></span>
            <center>
            <br>
            <p style="font-family:Calibri"><p style="font-size:25px">Trending Now:</p></p>
            <br>
            </center>
            <span></span>
        <div>

    <div class="container">
        <div class="row">
            <!--
            <div class = "thumb" id="instafeed1"></div>
            <div class = "thumb" id="instafeed2"></div>
            <div class = "thumb" id="instafeed3"></div>
            <div class = "thumb" id="instafeed4"></div>
            -->

            <!--
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
                <a class="thumbnail" href="searchResult.html"><img alt="" class=
                "img-responsive" src="img/1.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/2.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/3.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/4.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/5.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/6.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/7.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/8.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/9.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/10.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/11.jpg"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/12.jpg"></a>
            </div>
            -->

            {{#each locationArray}}
            <div class="col-sm-6 thumb">
                <div class="hovereffect ">
                    <img class="img-responsive" src="{{imageURL}}" alt="">
                        <div class="overlay">
                                <br>
                                <br>
                                <a href="location/{{name}}/{{address}}/{{likes}}/{{tags}}"><p style="font-size:18px">{{name}}</p>
                                <br>
                                <br>
                                <p style="font-size:18px">More Information</p></a>
                        </div>
                </div>
            </div>
            {{/each}}


        </div>
    </div>
 

    <!-- BEGIN FOOTER -->

    <br>
    <br>
        <footer class="footer">
            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h2 class="section-heading">Let's get in touch!</h2><legend></legend>
                            <p>Send us a message or reach us on social media.</p><br>
                        </div><br>
                        <div class="col-lg-2 col-lg-offset-2 text-center" style="color:black">
                            <i class="fa fa-phone fa-3x sr-contact"></i>
                            <p>(858) 534-2230</p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="mailto:teampholo@gmail.com"><i class="fa fa-envelope-o fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="mailto:teampholo@gmail.com" style="color:black">teampholo@gmail.com</a></p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="http://linkedin.com"><i class="fa fa-linkedin fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="http://linkedin.com" style="color:black">linkedin.com</a></p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="http://facebook.com"><i class="fa fa-facebook fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="http://facebook.com" style="color:black">facebook.com</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <center>
                <br>
                © 2016 Pholo Inc.<br>
                <br>
            </center>
        </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script> 

    <script src="js/jquery-1.11.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="js/bootstrap.min.js"</script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87910504-1', 'auto');
    ga('send', 'pageview');
    ga('send','event','link','click');

</script>


</body>
</html>