<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/favicon.ico" rel="icon">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <title>Pholo</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"
    type="text/css">
    <link href=
    'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
    <link href=
    'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>
</head>

<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button aria-expanded="false" class=
                    "navbar-toggle collapsed" data-target=
                    "#bs-example-navbar-collapse-1" data-toggle="collapse"
                    type="button"><span class="sr-only">Toggle
                    navigation</span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> <span class=
                    "icon-bar"></span></button> <a class="navbar-brand" href=
                    "/index">Pholo</a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="navbar navbar-default navbar-fixed-top" id="mainNav">
                <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-target=
                        "#bs-example-navbar-collapse-1" data-toggle="collapse"
                        type="button"><span class="sr-only">Toggle
                        navigation</span> Menu <i class=
                        "fa fa-bars"></i></button> <a class=
                        "navbar-brand page-scroll" href="/index"><img src=
                        "img/P.png"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id=
                    "bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="navbar-form" id="search" name=
                                "search" role="search">
                                    <div class="form-group">
                                        <!--<input class="form-control" id="search"
                                        placeholder="Where to?" type="text"> 
                                        <button type="submit" class="btn btn-default" id="searchButton">Search</button>-->
                                         <a class="btn btn-default" href=
                                        "/searchResultTheme" id=
                                        "searchButton" role="button">Trending Information</a>
                                    </div>
                                </form>
                            </li>
                            <li>
                                <a aria-expanded="false" aria-haspopup="true"
                                class="dropdown-toggle" data-toggle="dropdown"
                                href="#" role="button">Submit<span class=
                                "caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/addLocation">New
                                        Location</a>
                                    </li>
                                    <li>
                                        <a href="/addPhoto">New Photo</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a aria-expanded="false" aria-haspopup="true"
                                class="dropdown-toggle" data-toggle="dropdown"
                                href="#" role="button">Settings <span class=
                                "caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/account">Account</a>
                                    </li>
                                    <li>
                                        <a href="/help">Help</a>
                                    </li>
                                    <li class="divider" role="separator"></li>
                                    <li>
                                        <a href="/index">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </nav>
    </div><!-- /.container-fluid -->

    <!-- END HEADER -->






    <!-- showing what the user is current seraching -->
    <br>
    <div class="search-result">
        <center>
            <h1>Trending Information</h1>
        </center><br>
    </div>

    <!-- Showing result by what order, filter options -->
    <center>
        <div class="row">
            <div class="container-fluid">
                <div class="col-sm-6">
                    <div class="btn-group">
                        <button aria-expanded="false" aria-haspopup="true"
                        class="btn btn-default dropdown-toggle custom"
                        data-toggle="dropdown" type="button">Sort By:
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/searchResultTheme">Likes</a>
                            </li>
                            <li>
                                <a href="/searchResultThemeComments">Comments</a>
                            </li>
                            <!--
                            <li>
                                <a href="#distanceFunction">Distance</a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="col-sm-6">
                        <div class="btn-group">
                            <button aria-expanded="false" aria-haspopup="true"
                            class="btn btn-default dropdown-toggle custom"
                            data-toggle="dropdown" type="button">View Mode:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/searchResultTheme">Grid View</a>
                                </li>
                                <li>
                                    <a href="/searchResultThemeMap">Map View</a>
                                </li>
                                <!--                                
                                <li class="divider" role="separator"></li>
                                <li>
                                    <a href="#hybridFunction">Hybrid View</a>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center><br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">

            <div class = "thumb" id="instafeed1"></div>
            <div class = "thumb" id="instafeed2"></div>
            <div class = "thumb" id="instafeed3"></div>
            <div class = "thumb" id="instafeed4"></div>


            <!--
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="searchResult.html"><img alt="" class=
                "img-responsive" src="img/1.jpg"></a>
                <div>
                    <center>
                        <p><b>Potato Chip</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/2.jpg"></a>
                <div>
                    <center>
                        <p><b>Black's Beach</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/3.jpg"></a>
                <div>
                    <center>
                        <p><b>Scripps Institute of Oceanography</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/4.jpg"></a>
                <div>
                    <center>
                        <p><b>Birch Aquarium</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/5.jpg"></a>
                <div>
                    <center>
                        <p><b>Liberty Public Market</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/6.jpg"></a>
                <div>
                    <center>
                        <p><b>Birch Aquarium</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/7.jpg"></a>
                <div>
                    <center>
                        <p><b>Rady School of Management</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/8.jpg"></a>
                <div>
                    <center>
                        <p><b>Black's Beach</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/9.jpg"></a>
                <div>
                    <center>
                        <p><b>MCASD</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/10.jpg"></a>
                <div>
                    <center>
                        <p><b>Liberty Public Market</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/11.jpg"></a>
                <div>
                    <center>
                        <p><b>Geisel Library</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#"><img alt="" class=
                "img-responsive" src="img/12.jpg"></a>
                <div>
                    <center>
                        <p><b>Twin Peaks</b><br>
                        <b>Rating:</b> 4.6 Stars<br>
                        <b>Distance:</b> 3.2 miles</p>
                    </center>
                </div>
            </div>-->
        </div>
    </div>



    <!-- BEGIN FOOTER -->

    <br>
    <br>
        <footer class="footer">
            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h2 class="section-heading">Let's get in touch!</h2><legend></legend>
                            <p>Send us a message or reach us on social media.</p><br>
                        </div><br>
                        <div class="col-lg-2 col-lg-offset-2 text-center" style="color:black">
                            <i class="fa fa-phone fa-3x sr-contact"></i>
                            <p>(858) 534-2230</p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="mailto:teampholo@gmail.com"><i class="fa fa-envelope-o fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="mailto:teampholo@gmail.com" style="color:black">teampholo@gmail.com</a></p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="http://linkedin.com"><i class="fa fa-linkedin fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="http://linkedin.com" style="color:black">linkedin.com</a></p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="http://facebook.com"><i class="fa fa-facebook fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="http://facebook.com" style="color:black">facebook.com</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <center>
                <br>
                © 2016 Pholo Inc.<br>
                <br>
            </center>
        </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/instafeed.min.js"></script>
    <script type="text/javascript">
        var imgs = [];
        var feed = new Instafeed({
            get: 'user',
            accessToken:'45857988.1677ed0.2a9f9a44846c429ea09aed2c4d3714cc',
            userId: '45857988',     
            sortBy:'most-commented',
            limit: 24,
            template: '<div class ="col-lg-3 col-md-4 col-xs-6 thumb thumbnail" ><a href="\{{link\}}"><img alt="" class= "img-responsive" src="\{{image\}}"/></a><center><label>Comments: \{{model.comments.count\}}</label><br/><label>Likes: \{{model.likes.count\}}</label></center></div>',
            //template: '<div class ="col-lg-3 col-md-4 col-xs-6 thumb thumbnail" ><a href="{{link}}"><img alt="" class= "img-responsive" src="{{image}}"/></a><center><br/><label>Likes: {{model.likes.count}}</label></center></div>',
            success: function(data){
                var images = data.data;
                var result;
                for(i=0;i<images.length;i++)
                {
                    var image = images[i];
                    result = this._makeTemplate(this.options.template,{
                        model:image,
                        id:image.id,
                        link:image.link,
                        image:image.images[this.options.resolution].url
                    });
                    imgs.push(result);
                }
                //split the feed into divs
                $("#instafeed1").html(imgs.slice(0,4));
                $("#instafeed2").html(imgs.slice(4,8));
                $("#instafeed3").html(imgs.slice(8,12));
                $("#instafeed4").html(imgs.slice(12,16));
            }
            //resolution: 'standard_resolution',
            //clientId:'46315df4e6824890a23b186448845991',
            //get:'tagged',
            //tagName:'california',
        });
        feed.run();
    </script>

</body>
</html>